/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/uploads
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.docker
.github
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
clear.php
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
er->getAllPermissions();
er->getRoleNames();
EventoInstituicao::all()
